<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-heading">

      {{profile.name}} <small>({{profile.login}})</small>
       Works at, {{profile.description}} {{profile.location}}
</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <img src="{{profile.avatar_url}}"  class="img-circle img responsive" alt="profile image">

        </div>
        <div class="col-md-5">
          <ul class="list-group">
            <li class="list-items" *ngif="profile.bio"> {{profile.bio}}</li>
            <li class="list-items" *ngif="profile.hireable">Available for hire</li>
            <li class="list-items" *ngif="profile.blog"> {{profile.blog}}</li>
            <!-- <li class="list-items" *ngif="profile.email"> {{profile.email}}</li> -->

          </ul>

        </div>

      </div>

    </div>
  </div>
</div>
