<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
                <input  name="search" #search>
                <button (click)="doSearch()">Search</button>

                <p>Bio : {{bio}}</p>
                <p>Name : {{name}}</p>
                <p>Location : {{location}}</p>
                <p>Login : {{login}}</p>
                <p>Company : {{company}}</p>
        </div>
        <div class="col-md-4">
                <img src="{{avatar_url}}" alt="">

        </div>
        <div class="col-md-4">

         </div>


    </div>

</div> -->
<!-- <p>{{github.bio}}</p> -->